nextflow.enable.dsl=2

manifest {
  name = 'RosHAB Tool'
  description = 'Taxonomic identification of ONT reads'
  mainScript = 'roshab-wf.nf'
}

params {

  help = false
  kraken_db = ''
  minimap_taxa_db = ''
  minimap_gene_db = ''
  skip_qc = false
  live = false
  output = ''
  
  kraken_docker = 'quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0'
  kraken_singularity = 'https://depot.galaxyproject.org/singularity/kraken2%3A2.1.3--pl5321hdcf5f25_0'
  
  bracken_docker = 'quay.io/biocontainers/bracken:2.9--py39h1f90b4d_0'
  bracken_singularity = 'https://depot.galaxyproject.org/singularity/bracken%3A2.9--py39h1f90b4d_0'

  krakentools_docker = 'quay.io/biocontainers/krakentools:1.2--pyh5e36f6f_0'
  krakentools_singularity = 'https://depot.galaxyproject.org/singularity/krakentools%3A1.2--pyh5e36f6f_0'

  krona_docker = 'quay.io/biocontainers/krona:2.8.1--pl5321hdfd78af_1'
  krona_singularity = 'https://depot.galaxyproject.org/singularity/krona%3A2.8.1--pl5321hdfd78af_1'

  seqkit_docker = 'quay.io/biocontainers/seqkit:2.5.1--h9ee0642_0'
  seqkit_singularity = 'https://depot.galaxyproject.org/singularity/seqkit%3A2.5.1--h9ee0642_0'

  python_docker = 'quay.io/biocontainers/python:3.12'
  python_singularity = 'https://depot.galaxyproject.org/singularity/python%3A3.12'

  chopper_docker = 'quay.io/biocontainers/chopper:0.7.0--hdcf5f25_0'
  chopper_singularity = 'https://depot.galaxyproject.org/singularity/chopper%3A0.7.0--hdcf5f25_0'

  fastqc_docker = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
  fastqc_singularity = 'https://depot.galaxyproject.org/singularity/fastqc%3A0.12.1--hdfd78af_0'

  multiqc_docker = 'quay.io/biocontainers/multiqc:1.22.2--pyhdfd78af_0'
  multiqc_singularity = 'https://depot.galaxyproject.org/singularity/multiqc%3A1.22.2--pyhdfd78af_0'

  minimap_docker = 'quay.io/biocontainers/minimap2:2.26--he4a0461_2'
  minimap_singularity = 'https://depot.galaxyproject.org/singularity/minimap2%3A2.26--he4a0461_2'

  nanostat_docker = 'quay.io/biocontainers/nanostat:1.5.0--py_0'
  nanostat_singularity = 'https://depot.galaxyproject.org/singularity/nanostat%3A1.5.0--py_0'

  subread_docker = 'quay.io/biocontainers/subread:2.0.1--hed695b0_0'
  subread_singularity = 'https://depot.galaxyproject.org/singularity/subread%3A2.0.1--hed695b0_0'

  samtools_docker = 'quay.io/biocontainers/samtools:1.18--h50ea8bc_1'
  samtools_singularity = 'https://depot.galaxyproject.org/singularity/samtools%3A1.18--h50ea8bc_1'

}

profiles {

  test {
    includeConfig 'conf/test.config'
  }
	
  docker {
    docker.enabled = true
  }
  
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  
  hpc {
    process.cpus = '32'
  }
  
  local {
    process.cpus = '8'
  }

}
